ProcessGroups/GetFileFromFTP.json
{"flowContents":{"identifier":"6f5af507-229e-3196-b293-4a11588ecdcd","instanceIdentifier":"b31cf4c9-018d-1000-ffff-ffff8e97e025","name":"GetFileFromFTP","comments":"","position":{"x":1152.0,"y":312.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4891ffff-4987-3614-bb62-44036e0bcabd","instanceIdentifier":"6efa3e2f-f0d0-1bce-ae13-287848ef25a5","name":"ListFTP","comments":"","position":{"x":687.9999537315416,"y":281.4999853324991},"type":"org.apache.nifi.processors.standard.ListFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Proxy Host":null,"et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"21","record-writer":null,"proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Proxy Type":"DIRECT","Connection Mode":"Passive","Connection Timeout":"30 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"false","Internal Buffer Size":"16KB","Search Recursively":"false","File Filter Regex":null,"Remote Poll Batch Size":"5000","Http Proxy Username":null,"Hostname":"192.168.0.14","Remote Path":"/tmp/dummy","Proxy Port":null,"ftp-use-utf8":"false","Data Timeout":"30 sec","Transfer Mode":"Binary","Username":"nineking","target-system-timestamp-precision":"auto-detect","et-state-cache":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Connection Mode":{"name":"Connection Mode","displayName":"Connection Mode","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Internal Buffer Size":{"name":"Internal Buffer Size","displayName":"Internal Buffer Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Remote Poll Batch Size":{"name":"Remote Poll Batch Size","displayName":"Remote Poll Batch Size","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"ftp-use-utf8":{"name":"ftp-use-utf8","displayName":"Use UTF-8 Encoding","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Transfer Mode":{"name":"Transfer Mode","displayName":"Transfer Mode","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"},{"identifier":"0688070a-a2f3-3b46-aa2d-8afa94a21b21","instanceIdentifier":"3e923cb6-9fec-11f5-abf9-281b7c626f92","name":"PutFile","comments":"","position":{"x":687.9999537315416,"y":681.4999853324991},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"},{"identifier":"a1ab84a7-54c8-3613-a91c-2d7d2e189f06","instanceIdentifier":"f80233e8-c600-1b4d-ba58-83b2aede6ebe","name":"FetchFTP","comments":"","position":{"x":687.9999537315416,"y":481.4999853324991},"type":"org.apache.nifi.processors.standard.FetchFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Proxy Host":null,"Port":"21","Remote File":"${path}/${filename}","proxy-configuration-service":null,"Http Proxy Username":null,"Hostname":"192.168.0.14","Create Directory":"false","Use Compression":"false","Proxy Type":"DIRECT","Completion Strategy":"None","Connection Mode":"Passive","Proxy Port":null,"fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"30 sec","ftp-use-utf8":"false","Data Timeout":"30 sec","Transfer Mode":"Binary","Username":"nineking","Move Destination Directory":null,"Internal Buffer Size":"16KB"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Connection Mode":{"name":"Connection Mode","displayName":"Connection Mode","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"ftp-use-utf8":{"name":"ftp-use-utf8","displayName":"Use UTF-8 Encoding","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Transfer Mode":{"name":"Transfer Mode","displayName":"Transfer Mode","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Internal Buffer Size":{"name":"Internal Buffer Size","displayName":"Internal Buffer Size","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"},{"identifier":"5b55612f-c033-3695-a95c-86fc0178e464","instanceIdentifier":"90f43e93-26fb-1ebe-8589-5b32318866a9","name":"LogAttribute","comments":"","position":{"x":1319.9999537315416,"y":481.4999853324991},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ebc6d2a9-6f24-3bff-a845-44c92b1139d2","instanceIdentifier":"f30c3f8c-3736-18f0-bc9b-daa8e36cd7f6","name":"","source":{"id":"a1ab84a7-54c8-3613-a91c-2d7d2e189f06","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"FetchFTP","comments":"","instanceIdentifier":"f80233e8-c600-1b4d-ba58-83b2aede6ebe"},"destination":{"id":"0688070a-a2f3-3b46-aa2d-8afa94a21b21","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"PutFile","comments":"","instanceIdentifier":"3e923cb6-9fec-11f5-abf9-281b7c626f92"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"},{"identifier":"f2e9d4b2-a056-3cbc-9e36-bb07fb98d85d","instanceIdentifier":"2d5e3602-8e24-1b33-80ec-19594be9b4f9","name":"","source":{"id":"a1ab84a7-54c8-3613-a91c-2d7d2e189f06","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"FetchFTP","comments":"","instanceIdentifier":"f80233e8-c600-1b4d-ba58-83b2aede6ebe"},"destination":{"id":"5b55612f-c033-3695-a95c-86fc0178e464","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"LogAttribute","comments":"","instanceIdentifier":"90f43e93-26fb-1ebe-8589-5b32318866a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"},{"identifier":"2c326b4b-6cbd-307f-8eb0-86ded6422952","instanceIdentifier":"ed8a384e-bdbe-19a8-93b6-c556bf2fab8d","name":"","source":{"id":"4891ffff-4987-3614-bb62-44036e0bcabd","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"ListFTP","comments":"","instanceIdentifier":"6efa3e2f-f0d0-1bce-ae13-287848ef25a5"},"destination":{"id":"a1ab84a7-54c8-3613-a91c-2d7d2e189f06","type":"PROCESSOR","groupId":"6f5af507-229e-3196-b293-4a11588ecdcd","name":"FetchFTP","comments":"","instanceIdentifier":"f80233e8-c600-1b4d-ba58-83b2aede6ebe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f5af507-229e-3196-b293-4a11588ecdcd"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}