ProcessGroups/SendFileToFTP.json
{"flowContents":{"identifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","instanceIdentifier":"986433cf-a9ed-1c99-0000-000048cfe895","name":"SendFileToFTP","comments":"","position":{"x":1696.0,"y":824.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8fc2031d-235a-3a62-a250-dd8f25930b37","instanceIdentifier":"410c0524-6f3f-35f3-bd96-d4bc64ccdb5c","name":"GenerateFlowFile","comments":"","position":{"x":1184.0,"y":72.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"character-set":"UTF-8","File Size":"1KB","mime-type":null,"filename":"testfile-${now():format('YYYY-MM-dd_HH-mm-ss')}.txt","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"},{"identifier":"dbe1f1e9-40f4-34f8-954f-1dc06cc756a2","instanceIdentifier":"4d51d331-1684-3f4f-85a4-dc8e9eea1b99","name":"PutFTP","comments":"","position":{"x":1184.0,"y":280.0},"type":"org.apache.nifi.processors.standard.PutFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Proxy Host":null,"Port":"21","proxy-configuration-service":null,"Http Proxy Username":null,"Hostname":"192.168.0.14","Reject Zero-Byte Files":"true","Remote Path":"/tmp/dummy","Create Directory":"false","Conflict Resolution":"NONE","Use Compression":"false","Temporary Filename":null,"Proxy Type":"DIRECT","Connection Mode":"Passive","Proxy Port":null,"Connection Timeout":"30 sec","ftp-use-utf8":"false","Data Timeout":"30 sec","Transfer Mode":"Binary","Username":"nineking","Batch Size":"500","Permissions":null,"Internal Buffer Size":"16KB","Dot Rename":"true","Last Modified Time":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution":{"name":"Conflict Resolution","displayName":"Conflict Resolution","identifiesControllerService":false,"sensitive":false},"Temporary Filename":{"name":"Temporary Filename","displayName":"Temporary Filename","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Connection Mode":{"name":"Connection Mode","displayName":"Connection Mode","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Internal Buffer Size":{"name":"Internal Buffer Size","displayName":"Internal Buffer Size","identifiesControllerService":false,"sensitive":false},"Dot Rename":{"name":"Dot Rename","displayName":"Dot Rename","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Reject Zero-Byte Files":{"name":"Reject Zero-Byte Files","displayName":"Reject Zero-Byte Files","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"ftp-use-utf8":{"name":"ftp-use-utf8","displayName":"Use UTF-8 Encoding","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Transfer Mode":{"name":"Transfer Mode","displayName":"Transfer Mode","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"},{"identifier":"a157daf6-b91b-3a7b-9f79-4c43fb8cfcb1","instanceIdentifier":"3b8cf774-69f7-3871-b54d-bb831f0dd612","name":"LogAttribute","comments":"","position":{"x":1832.0,"y":280.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"},{"identifier":"61fe820a-f095-3ff9-bbc3-b7f8aa6ee918","instanceIdentifier":"e863cb77-35c8-35ac-8cea-eb8a4d22996b","name":"LogAttribute","comments":"","position":{"x":1184.0,"y":504.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76a8a8f9-28a2-3bd8-83eb-118b92f28ad6","instanceIdentifier":"467a3848-91e4-3e0c-b8ca-3136e7df2f37","name":"","source":{"id":"dbe1f1e9-40f4-34f8-954f-1dc06cc756a2","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"PutFTP","comments":"","instanceIdentifier":"4d51d331-1684-3f4f-85a4-dc8e9eea1b99"},"destination":{"id":"a157daf6-b91b-3a7b-9f79-4c43fb8cfcb1","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"LogAttribute","comments":"","instanceIdentifier":"3b8cf774-69f7-3871-b54d-bb831f0dd612"},"labelIndex":1,"zIndex":0,"selectedRelationships":["reject","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"},{"identifier":"7cf020af-4b36-38d0-a7bf-075ef725cec6","instanceIdentifier":"418fd70e-71b7-3214-a8aa-c146c935d665","name":"","source":{"id":"8fc2031d-235a-3a62-a250-dd8f25930b37","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"GenerateFlowFile","comments":"","instanceIdentifier":"410c0524-6f3f-35f3-bd96-d4bc64ccdb5c"},"destination":{"id":"dbe1f1e9-40f4-34f8-954f-1dc06cc756a2","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"PutFTP","comments":"","instanceIdentifier":"4d51d331-1684-3f4f-85a4-dc8e9eea1b99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"},{"identifier":"8126a171-e6f8-34f6-b5ce-3fdf21c40fc6","instanceIdentifier":"68c038ef-c74c-38c4-98c9-033990650ff4","name":"","source":{"id":"dbe1f1e9-40f4-34f8-954f-1dc06cc756a2","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"PutFTP","comments":"","instanceIdentifier":"4d51d331-1684-3f4f-85a4-dc8e9eea1b99"},"destination":{"id":"61fe820a-f095-3ff9-bbc3-b7f8aa6ee918","type":"PROCESSOR","groupId":"506833fb-3d7f-3836-b19a-4f86ee9e67e3","name":"LogAttribute","comments":"","instanceIdentifier":"e863cb77-35c8-35ac-8cea-eb8a4d22996b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"506833fb-3d7f-3836-b19a-4f86ee9e67e3"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"daa0319d-e34d-3906-97c3-5ae7b1e41b8c","instanceIdentifier":"775d37e7-db4b-1f98-ffff-ffff8b97d16b","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.23.1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/data/certs/truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"986433cf-a9ed-1c99-0000-000048cfe895"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}